.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: aqua;
    height: 300px;
}

.item{
    background-color: red;
    border-radius: 10%;
    min-width: 40px;
    max-width: 300px;
}

.icon_images{
    width: 180px;
    padding-right: 58px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.box_title{
    text-align: center;
    font-size: 20px;
}

.box_images{
        width: 217px;
    height: 200px;
}
#t2asl_image{
    width: 217px;
    height: 200px;
}

#s2t_image{
    width: 217px;
    height: 200px;
}

#live_image{
    width: 217px;
    height: 200px;
}