@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  /*background-color: black;*/
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: black;
  font-family: 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.caption {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
  text-align: center;
}

.blob {
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-family:Alfa;
}

.button {
  border-radius: 16px;
  padding: 14px;
  font-size: 24px;
  border-color: black;
  background-color: rgb(77, 77, 77);
}

.button:hover {
  background-color: rgb(90, 90, 90);
}

.button-text {
  -webkit-font-smoothing: auto;
  color: white;
  font-size: 1em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.blob > h1 {
  -webkit-font-smoothing: auto;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

@media only screen and (max-width: 800px) {
  .blob > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .blob > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .blob > h1 {
    font-size: 3em;
  }
}
@font-face
{
    font-family:Alfa;
    src:url(AlfaSlabOne-Regular.ttf);
    font-weight:bold;
}
.logo
{
    width:80%;
    height:80%;
    padding-left:80px;
    padding-bottom: 35px;
}


.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: transparent;
    margin-top:100px;
    margin-bottom: 1000px;
    align-items:center;
    height: 650px;
    background-color: transparent;
}

.box_images{
    width: 300px;
    height: 320px;
    border-radius: 20px;
}   

.item{
    background-color: black;
    border-radius: 10%;
    display: block;
    position: relative;
    text-align: center;
    padding:0;
    transition: padding 500ms;
}

.icon_images{
    padding-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.box_title{
    text-align: center;
    font-size: 22px;
    font-family:Alfa;
    color: white;
    padding-bottom:10px;
}

h1
{
    text-align: center;
    font-size:100px;
    font-family:Alfa;
    color:black;
}

.discription1,
.discription2,
.discription3{
    display:none;
    list-style-type: none;
    margin:10px, 10px, 10px, 10px;
    overflow: hidden;
    color:white;
}

#box1:hover,
#box2:hover,
#box3:hover {
  padding:20px;
}

#box1:hover > .discription1{
    display:block;
    padding-left:20px;
    padding-right:20px;
    max-height:500px;
    color:white;
}
#box2:hover > .discription2{
    display:block;
    padding-left:20px;
    padding-right:20px;
    max-height:500px;
    color:white;
}
#box3:hover > .discription3{
    display:block;
    padding-left:20px;
    padding-right:20px;
    max-height:500px;
    color:white;
}

#box1:hover > .box_title{
    display:none;
    transition: all 500ms;
    color:white;
}
#box2:hover > .box_title{
    display:none;
    transition: all 500ms;
    color:white;
}
#box3:hover > .box_title{
    display:none;
    transition: all 500ms;
    color:white;
}

#tio_button1:hover,
#tio_button2:hover,
#tio_button3:hover{
  background-color:skyblue;
}

#tio_button1,
#tio_button2,
#tio_button3 {
    background-color: lightblue;
    border-radius: 12px;
    border-color:lightblue;
    border-width:5px;
    border-style:inset;
    text-align:center;
    width:80%;
    height:60px;
    margin:5% 0%;
    margin-left:10%;
    padding-top:5px;
    font-family:Alfa;
    transition: all 500ms;
}

#subtitle1,
#subtitle2,
#subtitle3 {
  font-weight: bold;
  font-size: 22px;
  font-family: Alfa;
  transition: all 500ms;
}

.App{
  padding-bottom:400px;
}

.feature{
  text-align: center;
  color:white;
}

.form{
  padding-left:400px;
}

.submit{
  margin-left:360px;
  background-color: lightblue;
    border-radius: 12px;
    border-color:lightblue;
    border-width:5px;
    border-style:inset;
    text-align:center;
    width:10%;
    height:30px;
    font-family:Alfa;
    margin-top:10px;
}