@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  /*background-color: black;*/
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #101010;
  font-family: 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.caption {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.blob {
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #a0a0a0;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.button {
  border-radius: 16px;
  padding: 14px;
  font-size: 24px;
  border-color: black;
  background-color: rgb(77, 77, 77);
}

.button:hover {
  background-color: rgb(90, 90, 90);
}

.button-text {
  -webkit-font-smoothing: auto;
  color: white;
  font-size: 1em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.blob > h1 {
  -webkit-font-smoothing: auto;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

@media only screen and (max-width: 800px) {
  .blob > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .blob > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .blob > h1 {
    font-size: 3em;
  }
}
@font-face
{
    font-family:Alfa;
    src:url(AlfaSlabOne-Regular.ttf);
    font-weight:bold;
}
.logo
{
    width:60%;
    height:50%;
    padding-left:35%;
    padding-bottom: 35px;
}
.gradient
{
    display:flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:30%;
    margin-bottom:30%;
}
.background
{
    background-color: black;
    background:linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 50%);
}
@keyframes gradient
{
    from {background-color: black;}
    to {background-color: white;}
}

@keyframes reverseGradient
{
    from {background-color: white;}
    to {background-color: black;}
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: black;
    height: 300px;
    margin-bottom: 200px;
    align-items:flex-start;
}

.box_images{
    width: 300px;
    height: 320px;
    border-radius: 20px;
}   

.item{
    background-color: white;
    border-radius: 10%;
    min-width: 40px;
    max-width: 600px;
}

.icon_images{
    padding-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.box_title{
    text-align: center;
    font-size: 22px;
    font-family:Alfa;
    color: black;
    padding-bottom:10px;
}

h1
{
    text-align: center;
    padding-bottom:10%;
    font-size:100px;
    font-family:Alfa;
    color:white;
}
