*
{
    margin:0;
    padding:0;
}
@font-face
{
    font-family:Alfa;
    src:url(AlfaSlabOne-Regular.ttf);
    font-weight:bold;
}
#title
{
    color:white;
}
.logo
{
    padding-left:35%;
    padding-bottom: 25px;
}
.gradient
{
    display:flex;
    justify-content: center;
    padding-top:15%;
    padding-bottom:30%;
    margin-bottom:30%;
}
.background
{
    background-color: black;
    background:linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 50%);
}
@keyframes gradient
{
    from {background-color: black;}
    to {background-color: white;}
}

@keyframes reverseGradient
{
    from {background-color: white;}
    to {background-color: black;}
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: white;
    height: 300px;
    padding-bottom: 15%;
}

.box_images{
    width: 300px;
    height: 320px;
    border-radius: 20px;
}   

.item{
    background-color: black;
    border-radius: 10%;
    min-width: 40px;
    max-width: 600px;
}

.icon_images{
    padding-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.box_title{
    text-align: center;
    font-size: 22px;
    font-family:Alfa;
    color: white;
    padding-bottom:10px;
}

h1
{
    text-align: center;
    padding-bottom:10%;
    font-size:100px;
    font-family:Alfa;
}